$primary-color: #ffebbb;
$darker-primary-color: darken($primary-color, 8%);
$secondary-color: #68645d;
$background-color: #faf9ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
}

h1,
h2 {
  text-align: center;
}

/*Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $background-color;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10%;
}

::-webkit-scrollbar-thumb:hover {
  background: $darker-primary-color;
}

/*Divider between sections */
.divider {
  width: 90%;
  margin: auto;
}

/*Navbar */
nav.navbar {
  background-color: $primary-color;
  width: 100%;
  position: fixed;
  z-index: 1;

  .navbar-nav .nav-link {
    color: #000000bb;
  }

  .navbar-nav .nav-link:hover {
    color: #000000ab;
  }

  img {
    height: 28px;
  }

  .nav-item:last-of-type {
    display: flex;
    justify-content: center;

    i {
      margin: 0 8px;
    }
  }

  .navbar-collapse {
    justify-content: space-between;
    text-align: center;
  }
}

/*Hero section */
section#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 90px 40px 30px;

  h1 {
    font-size: 28px;
  }

  h2 {
    color: $secondary-color;
    font-size: 16px;
  }

  img {
    display: block;
    width: 70%;
    margin: 55px auto;
  }

  a {
    background-color: $primary-color;
    border: 1px solid $darker-primary-color;
    padding: 10px 20px;
  }

  a:hover,
  a:active {
    background-color: $darker-primary-color;
  }
}

/*About section */
section#about {
  padding: 60px 20px;

  p {
    font-size: 15px;
    text-align: center;
  }

  p:last-of-type {
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 40px;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 14px;
      text-align: center;
    }

    .mobile {
      color: #303030;
    }

    .html {
      color: #e54c21;
    }

    .css {
      color: #264de4;
    }

    .bootstrap {
      color: #860afb;
    }
  }

  .icon:first-of-type {
    margin-bottom: 20px;
  }
}

/*Projects section */
section#projects {
  text-align: center;
  padding: 60px 0 40px;

  h2 {
    margin-bottom: 40px;
  }

  .image-item {
    position: relative;
    margin-bottom: 20px;
  }

  img {
    border-radius: 5px;
  }

  .caption {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #000000bd;
    font-size: 20px;
    border-radius: 5px;

    span:last-of-type {
      font-size: 15px;
    }

    a {
      width: 40%;
      color: #ffffff;
      background-color: #000000a2;
      border: 1px solid $primary-color;
      padding: 10px 20px;
      margin: 5px auto;
    }
  }

  .image-item:hover .caption {
    display: flex;
  }
}

/*Contact section */
section#contact {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    margin-bottom: 40px;
  }

  .contact-form {
    width: 90%;
    margin: auto;

    label,
    input {
      font-size: 15px;
    }

    button {
      display: block;
      width: 100%;
      background-color: $primary-color;
      border: 1px solid $darker-primary-color;
      padding: 10px 20px;
    }

    button:hover,
    button:active {
      background-color: $darker-primary-color;
    }
  }

  img {
    margin-top: 50px;
    transform: scaleX(-1);
  }
}

@media screen and (min-width: 500px) {
  section#hero {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 18px;
    }

    img {
      width: 60%;
    }
  }

  section#about {
    .skills {
      width: 70%;
      margin: auto;
    }
  }
}

@media screen and (min-width: 576px) {
  section#hero {
    h1 {
      font-size: 34px;
    }

    h2 {
      font-size: 20px;
    }

    img {
      width: 50%;
    }

    a {
      display: block;
      width: 50%;
      margin: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  section#about {
    .skills {
      width: 90%;
    }
  }

  section#projects {
    .image-item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  section#contact {
    .contact-form {
      width: 80%;
    }
  }
}

@media screen and (min-width: 992px) {
  section#hero {
    padding-bottom: 50px;

    .row {
      margin-top: 50px;
    }

    .row div:first-child {
      padding-top: 50px;
      padding-left: 100px;

      h1,
      h2 {
        text-align: left;
      }
    }

    img {
      width: 90%;
      margin: 0;
    }

    a {
      margin: 40px 0 0;
    }
  }

  section#about {
    .row:first-of-type {
      justify-content: space-around;
    }

    p:first-of-type {
      padding-top: 40px;
    }

    p {
      text-align: left;
    }

    .skills {
      width: fit-content;
      margin: 0;
    }
  }

  section#projects {
    .row {
      justify-content: center;
    }
  }

  section#contact {
    .contact-form {
      label,
      input {
        font-size: 16px;
      }

      button {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  section#hero {
    h1 {
      font-size: 38px;
    }

    h2 {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 1400px) {
  section#hero {
    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 28px;
    }
  }

  section#about {
    p {
      font-size: 17px;
    }
  }

  section#contact {
    .contact-form {
      width: 70%;

      label,
      input {
        font-size: 17px;
      }
    }
  }
}
