* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #faf9ff;
}

h1,
h2 {
  text-align: center;
}

/*Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #faf9ff;
}

::-webkit-scrollbar-thumb {
  background: #ffebbb;
  border-radius: 15%;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffdf92;
}

/*Divider between sections */
.divider {
  width: 90%;
  margin: auto;
}

/*Navbar */
nav.navbar {
  background-color: #ffebbb;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav.navbar .navbar-nav .nav-link {
  color: #000000bb;
}

nav.navbar .navbar-nav .nav-link:hover {
  color: #000000ab;
}

nav.navbar img {
  height: 28px;
}

nav.navbar .nav-item:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.navbar .nav-item:last-of-type i {
  margin: 0 8px;
}

nav.navbar .navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

/*Hero section */
section#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 90px 40px 30px;
}

section#hero h1 {
  font-size: 28px;
}

section#hero h2 {
  color: #212529bb;
  font-size: 16px;
}

section#hero img {
  display: block;
  width: 70%;
  margin: 55px auto;
}

section#hero a {
  background-color: #ffebbb;
  border: 1px solid #ffe4a2;
  padding: 10px 20px;
}

section#hero a:hover {
  background-color: #ffe4a2;
}

/*About section */
section#about {
  padding: 60px 40px;
}

section#about p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}

section#about h2 {
  margin-bottom: 40px;
}

section#about .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about .icon span {
  font-size: 14px;
  text-align: center;
}

section#about .icon .mobile {
  color: #303030;
}

section#about .icon .html {
  color: #e54c21;
}

section#about .icon .css {
  color: #264de4;
}

section#about .icon .bootstrap {
  color: #860afb;
}

section#about .icon:first-of-type {
  margin-bottom: 20px;
}

/*Projects section */
section#projects {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

section#projects h2 {
  margin-bottom: 30px;
}

section#projects .image-item {
  margin-bottom: 20px;
  position: relative;
}

section#projects img {
  border-radius: 5px;
}

section#projects .caption {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000bd;
  border-radius: 5px;
}

section#projects .caption span:last-of-type {
  font-size: 15px;
}

section#projects .caption a {
  color: #ffffff;
  background-color: #000000a2;
  width: 40%;
  margin: 5px auto;
  border: 1px solid #ffebbb;
  padding: 10px 20px;
}

section#projects .image-item:hover .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Contact section */
section#contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

section#contact h2 {
  margin-bottom: 50px;
}

section#contact .contact-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

section#contact .contact-links a {
  text-decoration: none;
  color: #000000;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .contact-links i {
  color: #68645d;
  margin-right: 10px;
  padding: 8px 10px;
  border-radius: 50%;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

section#contact .contact-links a:hover i {
  background-color: #ffebbb;
}

section#contact .contact-links a:hover span {
  color: #000000c4;
}

@media screen and (min-width: 500px) {
  section#hero h1 {
    font-size: 30px;
  }
  section#hero h2 {
    font-size: 18px;
  }
  section#hero img {
    width: 60%;
  }
  section#about .container {
    width: 60%;
  }
}

@media screen and (min-width: 576px) {
  section#hero h1 {
    font-size: 34px;
  }
  section#hero h2 {
    font-size: 20px;
  }
  section#hero img {
    width: 50%;
  }
  section#hero a {
    display: block;
    width: 40%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  section#about p {
    padding: 0 50px;
  }
  section#about .container {
    width: 90%;
  }
  section#projects .image-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  section#hero .row {
    margin-top: 50px;
  }
  section#hero .row div:first-child {
    padding-top: 50px;
    padding-left: 100px;
  }
  section#hero .row div:first-child h1,
  section#hero .row div:first-child h2 {
    text-align: left;
  }
  section#hero img {
    width: 90%;
    margin: 0;
  }
  section#hero a {
    width: 20%;
    margin-left: 90px;
  }
  section#about p {
    padding-top: 40px;
  }
  section#projects .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
